.bg-image {
    background: linear-gradient(45deg, #00bcd4,#ffeb3b);
    background-size: cover;
    background-repeat: no-repeat;
  }  

.bigContainer {
    box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: rgba(42, 2, 41, 0.624) !important;
  }